.TaskFormBox {
    min-width: 100%;
    height: calc(92vh - 60px);
    border: 2px solid #008B8B;
    background-color: #ffffff;
    margin: 0vw;
    padding: 5vw ;
    position:relative; 
}

.TaskCancelBtn, .TaskCreateBtn{
    display: block;
    width: 50%;
    height: 3rem;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    position:absolute;

}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #008B8B;
  }

.TaskCancelBtn{
    margin: 1rem 0 1rem 0;
    border-radius: 20px 0 0 20px;
    background-color: red;
}

.TaskCreateBtn{
    margin: 1rem 0 1rem 1rem;
    margin-left: 52%;   
    border-radius: 0 20px 20px 0;
    background-color: #008B8B;
}

.TaskCancelBtn:hover{
    background-color: rgb(245, 245, 78);
    transition: 1s background ease;
}

.TaskCreateBtn:hover {
    background-color: #333;
    transition: 1s background ease;
}

.TaskFormControl {
    background-color: linen;
}